<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>

    <% customer.forEach(user => { %>
     <p><%= user.firstname %> <%= user.lastname %></p>
     <p><%= user.email %></p>
     <button>Edit</button>
    <form action="/delete/<%= user._id %>" method="post">
            <button >Delete</button>
    </form>
    <% }) %>
</body>
</html>