<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My name is <%= name %></h1>
    <% if (gender == "male") { %>
     <h1>I am Adam's Descendant</h1>
     <% } else{ %>
        
        <h1>I am Eve's Descendant</h1>

            <% } %>

</body>
</html>